/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.intro-section {
    background-image: url('depositphotos_152164006-stock-photo-detail-of-silicon-wafer-containing.jpg'); /* Add your background image */
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

.tagline {
    font-size: 24px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.about-description {
    font-size: 18px;
    line-height: 1.6;
}

/* Add more styles as needed */
/* Dark theme styles */
/* Dark theme styles */
.dark-theme {
    background-color: #333;
    color: #fff;
}

